<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="container">
      <h2>{{ post.title }}</h2>
      <hr class="star-primary">
      <div class="row modal-container-wrap">
        <div class="left-container">
          {% if post.videos %}
          <video width="600" height="350" muted autoplay loop>
            <source src="img/vid/{{ post.videos }}.mp4" class="img-centered img-responsive" type="video/mp4">
            <strong>Your browser does not support the video tag.</strong>
          </video>
          {% else %}
          <img src="img/portDetail/{{ post.img }}.png" class="img-responsive img-centered" alt="{{ post.alt }}">
          {% endif %}
          {% if post.stacks %}
          <div class="projectStack letter05px" style="margin: 20px 0 20px 0">
            <strong>프로젝트에 사용된 스택</strong>
          </div>
          <div class="letter1px" style="margin: 20px 0 20px 0">
            {{ post.stacks }}
          </div>
          {% endif %}
        </div>
        <div class="right-container">
          {% if post.useStack %}
          {{ post.useStack }}
          {% endif %}
          {% if post.description %}
          <p class="description letter1px">{{ post.description }}</p>
          {% endif %}
          <ul class="list-inline item-details">
            {% if post.title %}
            <li>Title:
              <strong>{{ post.title }}</strong>
            </li>
            {% endif %}
            {% if post.project-date %}
            <li>Date:
              <strong>{{ post.project-date }}</strong>
            </li>
            {% endif %}
            {% if post.client %}
            <li>Client:
              <strong>{{ post.client }}</strong>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% if post.githubLink %}
      <a href="{{ post.githubLink }}" style="background-color: #95a5a6; color: white;" class="btn btn-default btn-outline">
        <i class="fa-brands fa-github"></i> github
      </a>
      {% endif %}
      {% if post.FrontLink %}
      <a href="{{ post.FrontLink }}" style="background-color: #95a5a6; color: white;" class="btn btn-default btn-outline">
        <i class="fa-brands fa-github"></i> Front-github
      </a>
      {% endif %}
      {% if post.BackLink %}
      <a href="{{ post.BackLink }}" style="background-color: #95a5a6; color: white;" class="btn btn-default btn-outline">
        <i class="fa-brands fa-github"></i> Back-github
      </a>
      {% endif %}
      <button type="button" class="btn btn-default" style="margin: 15px 0 0 10px" data-dismiss="modal">
        Close</button>
    </div>
  </div>
</div>
{% endfor %}
